@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "__Cumberland Std_5";
  src: url("/fonts/cumberland%20std.eot");
  src: local("☺"), url("/fonts/cumberland%20std.woff") format("woff"),
    url("/fonts/cumberland%20std.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}


body {
  font-family: "__Cumberland Std_5";
  font-weight: 500;
  color: rgb(var(--foreground-rgb));
}

button {
  background: linear-gradient(138deg, rgba(234,197,126,1) 0%, rgba(255,166,0,1) 50%,  rgba(234,197,126,1) 100%);
  transition: all ease-in-out .3s;
  background-size: 200%;
  background-position: left;
}

button:hover {
  background-position: right;
}