#ecOTgXasdBA41_to {
  animation: ecOTgXasdBA41_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA41_to__to {
  0% {
    transform: translate(1077.916803px, 992.062065px);
  }
  0.333333% {
    transform: translate(1046.901493px, 992.062065px);
  }
  33.333333% {
    transform: translate(1460.412651px, 992.062065px);
  }
  40% {
    transform: translate(1616.929231px, 929.170656px);
  }
  100% {
    transform: translate(1616.929231px, 179.053721px);
  }
}
#ecOTgXasdBA41_tr {
  animation: ecOTgXasdBA41_tr__tr 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA41_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  33.333333% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
#ecOTgXasdBA42_to {
  animation: ecOTgXasdBA42_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA42_to__to {
  0% {
    transform: translate(956.359929px, 795.017635px);
  }
  63.333333% {
    transform: translate(956.012132px, 955.109332px);
  }
  100% {
    transform: translate(956.012132px, 955.109332px);
  }
}
#ecOTgXasdBA43_to {
  animation: ecOTgXasdBA43_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA43_to__to {
  0% {
    transform: translate(575.254505px, 630.510019px);
  }
  100% {
    transform: translate(575.254505px, 863.696562px);
  }
}
#ecOTgXasdBA44_to {
  animation: ecOTgXasdBA44_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA44_to__to {
  0% {
    transform: translate(1348.324538px, 630.509958px);
  }
  100% {
    transform: translate(1348.324538px, 863.696536px);
  }
}
#ecOTgXasdBA45_to {
  animation: ecOTgXasdBA45_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA45_to__to {
  0% {
    transform: translate(957.919185px, 430.497909px);
  }
  100% {
    transform: translate(956.012132px, 955.109332px);
  }
}
#ecOTgXasdBA46_to {
  animation: ecOTgXasdBA46_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA46_to__to {
  0% {
    transform: translate(957.78184px, 619.143008px);
  }
  40% {
    transform: translate(957.78184px, 619.143008px);
  }
  100% {
    transform: translate(1322.105433px, 619.143003px);
  }
}
#ecOTgXasdBA46_ts {
  animation: ecOTgXasdBA46_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA46_ts__ts {
  0% {
    transform: scale(-0.002351, 0.99721);
  }
  30% {
    transform: scale(-0.002351, 0.99721);
  }
  40% {
    transform: scale(1.887502, 0.99721);
  }
  100% {
    transform: scale(1.887502, 0.99721);
  }
}
#ecOTgXasdBA47_to {
  animation: ecOTgXasdBA47_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA47_to__to {
  0% {
    transform: translate(1184.725774px, 275.34109px);
  }
  50% {
    transform: translate(1184.725774px, 275.34109px);
  }
  56.666667% {
    transform: translate(1184.725774px, 287.604094px);
  }
  100% {
    transform: translate(1184.725774px, 438.428349px);
  }
}
#ecOTgXasdBA47_ts {
  animation: ecOTgXasdBA47_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA47_ts__ts {
  0% {
    transform: rotate(90deg) scale(-0.018389, 1);
  }
  50% {
    transform: rotate(90deg) scale(-0.018389, 1);
  }
  56.666667% {
    transform: rotate(90deg) scale(1.591202, 1);
  }
  100% {
    transform: rotate(90deg) scale(1.591202, 1);
  }
}
#ecOTgXasdBA48_to {
  animation: ecOTgXasdBA48_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA48_to__to {
  0% {
    transform: translate(957.78184px, 619.143008px);
  }
  40% {
    transform: translate(957.78184px, 619.143008px);
  }
  100% {
    transform: translate(602.24673px, 619.143008px);
  }
}
#ecOTgXasdBA48_ts {
  animation: ecOTgXasdBA48_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA48_ts__ts {
  0% {
    transform: rotate(180deg) scale(-0.002351, 0.99721);
  }
  30% {
    transform: rotate(180deg) scale(-0.002351, 0.99721);
  }
  40% {
    transform: rotate(180deg) scale(1.887502, 0.99721);
  }
  100% {
    transform: rotate(180deg) scale(1.887502, 0.99721);
  }
}
#ecOTgXasdBA49_to {
  animation: ecOTgXasdBA49_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA49_to__to {
  0% {
    transform: translate(1013.735069px, 275.057298px);
  }
  76.666667% {
    transform: translate(1013.735069px, 275.057298px);
  }
  100% {
    transform: translate(1013.387161px, 324.882135px);
  }
}
#ecOTgXasdBA49_ts {
  animation: ecOTgXasdBA49_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA49_ts__ts {
  0% {
    transform: rotate(90deg) scale(-0.018389, 1);
  }
  26% {
    transform: rotate(90deg) scale(-0.018389, 1);
  }
  66.666667% {
    transform: rotate(90deg) scale(-0.018389, 1);
  }
  73.333333% {
    transform: rotate(90deg) scale(1.591202, 1);
  }
  100% {
    transform: rotate(90deg) scale(1.591202, 1);
  }
}
#ecOTgXasdBA50_to {
  animation: ecOTgXasdBA50_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA50_to__to {
  0% {
    transform: translate(662.723226px, 277.406122px);
  }
  100% {
    transform: translate(662.897213px, 445.401273px);
  }
}
#ecOTgXasdBA51_to {
  animation: ecOTgXasdBA51_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA51_to__to {
  0% {
    transform: translate(960.018179px, 206.0192px);
  }
  46.666667% {
    transform: translate(960.018179px, 206.0192px);
  }
  100% {
    transform: translate(959.478328px, 320.381037px);
  }
}
#ecOTgXasdBA52_to {
  animation: ecOTgXasdBA52_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA52_to__to {
  0% {
    transform: translate(1487.28734px, 176.795986px);
  }
  23.333333% {
    transform: translate(1487.287253px, 268.674155px);
  }
  26.666667% {
    transform: translate(1475.920225px, 275.057298px);
  }
  100% {
    transform: translate(674.090174px, 275.057647px);
  }
}
#ecOTgXasdBA52_tr {
  animation: ecOTgXasdBA52_tr__tr 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA52_tr__tr {
  0% {
    transform: rotate(90deg);
  }
  23.333333% {
    transform: rotate(90deg);
  }
  26.666667% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
#ecOTgXasdBA53_to {
  animation: ecOTgXasdBA53_to__to 3000ms linear infinite normal forwards;
}
@keyframes ecOTgXasdBA53_to__to {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
